mixin header(page_type, device_sizes)
    header.header
        .titleContainer
            h1.siteTitle(title='Resize Responsive Websites')
                a(href='/') Resizive
        .dataEntry.leftSpace
            if page_type == 'index'
                form(method='get', action='/resizing')
                    input.urlEntry(type='url', name='url', placeholder='Enter Website URL')
                    button.btn.btn-load.leftSpace(type='submit') Go
                    a.btn.fontLarge.leftSpace(href='/config', title='Set Config Data') &#9881;
            if page_type == 'resizing'
                .buttonRow.leftSpace
                    button.btn.btnStart
                        span S
                        | tart
                    button.btn.btnResume.hidden
                        span R
                        | esume
                    button.btn.btnPause
                        span P
                        | ause
                    button.btn.btnLeft.leftSpace
                        span &larr;
                    .stacked
                        button.btn.btnUp.halfHeight
                            span &uarr;
                        button.btn.btnDown.halfHeight
                            span &darr;
                    button.btn.btnRight
                        span &rarr;
                input.showWidth.leftSpace(type='text', title='Set A Specific Width (PX)')
                | x
                input.showHeight.leftSpace(type='text', title='Set A Specific Width (PX)')
                button.btn.btnRefresh.leftSpace
                    .text.fontLarge &#8635;
                button.btn.btnRotate.leftSpace Rotate
                button.btn.btnPhones.leftSpace(data-dropdown='phones') Phones
                button.btn.btnTablets.leftSpace(data-dropdown='tablets') Tablets
                +deviceList('phones', device_sizes)
                +deviceList('tablets', device_sizes)

mixin select(name, values)
    select.leftSpace.integerOnly(name=name)
        each val in values
            option(value=val.v)=val.t

mixin deviceSize(device)
    - dims = device.width + '|' + device.height
    - size = device.width + '&times;' + device.height
    li.device.clearFix(data-dimensions=dims)
        span.size.right!=size
        span.name=device.name

mixin deviceList(device_type, device_sizes)
    - devices = device_sizes ? device_sizes[device_type] : []
    ul.deviceList.hidden(class='#{device_type}')
        each device in devices
            +deviceSize(device)
